* {
  font-family: Roboto;
}

.rowDropdown{
  width: 873px;
  height: 210px;
  display:inline-block;
  background-color: #f04b31;
  border-radius: 4px;
  position: relative;
  border-radius: .4em;
}

.headerDropdown{
    font-size: 18px;
    font-weight: bold;
}

.listItemDropdown{
    font-size: 16px;
}

.listItemDropdown span:hover{
    padding-bottom: 2px;
    border-bottom: 1px solid white;
}



.sa:hover {
    
    text-decoration: none;
    border-bottom:1px solid white !important;
   
}


.dropdown-menu{
  background-color:transparent;
  left: -275%;
  
}

.nav-item>.show:after {
    content: '';
    position: absolute;
    top:127%;
    left: 52.5%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #f04b31;
    border-top: 0;
    margin-left: -20px;
    margin-top: -20px;
    }
/* 
    .dropdown:hover > .dropdown-menu {
      display: block;
    }
    .dropdown > .dropdown-toggle:active {
      pointer-events: none;
    } */
    


    .dropdown-toggle::after {
      display:none;
  }
  
  .btn-link{
    color: black;
   
  }

  .btn-link:after{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 25px 25px;
    border-color: transparent transparent #000000 transparent;
  }

  .btn-link:hover {
    color: black;
    text-decoration: none;
}

.btn-link:focus{
  text-decoration:none;
}


.numberColor {
  color: #cf102b;
  font-size: 1.2125em;
}

.inputSearchDisplay{
  display:none;
}

.firstText p,
strong {
  margin: 0;
}

.firstText {
  font-size: 2.438em;
  max-width: 632px;
}

.secondText {
  padding: 24px 0px;
  max-width: 320px;
  font-size: 1.313em;
}



.head {
  background-color: #f6f6f6;
}


.flagResize {
  height: 20px;
  max-width: 20px;
  border-radius: 50%;
  margin-bottom: 2px;
}

.navbarResize {
  height: 37px;
}

.langFontSize {
  font-size: 0.875em;
}

.pathTriangle {
  max-width: 16px;
  height: 16px;
  cursor: pointer;
}

.navigationBar {
  min-height: 128px;
}

.pathSearch {
  max-width: 16px;
  height: 16px;
  cursor: pointer;
}

.searchBorder {
  border-left: solid 0.5px #cacaca;
  border-right: solid 0.5px #cacaca;
}

.navbarColor {
  color: #242f40 !important;
}

.navbarColor:hover {
  color: #090d13 !important;
}

.context{
  padding: 80px 0px 80px 0px;
}


.siteLogo img {
  max-width: 131px;
  height: 110px;
}

.bigImageContent {
  background: url(https://i.hizliresim.com/YdEM02.jpg) no-repeat center center;
  background-size: 100%;
}

.btnColor {
  background-color: #cf102b;
  max-width: 166px;
  height: 75px;
  border-radius: 0 0.25em 0.25em 0;
  font-size: 1em;
  color: #fff;
}

.formSize {
  max-width: 295px;
  height: 75px;
  border-radius: 0.25rem 0 0 0.25em;
  font-size: 1.125em;
}



.containerSize {
  height: 100%;
}

.iconSide {
  width: 125px;
  height: 125px;
  border-radius: 8px;
  border: solid 1px #cacaca;
  background-color: #ffffff;
  cursor: pointer;
}

#svgSize{
  width:75px;
  height:70px;
}

#svgHover:hover path{
transition: all 1000ms ease; 
  fill:white;
}

#svgHover:hover{
  background-color: #3ccf8e;
  transition: all 1000ms ease;
  border: solid 1px #2fbc7d;
}

#svgHover:hover tspan{
  transition: all 1000ms ease; 
  fill:white;
}

a{
  width:100%;
  height: 100%; 
}

.textContent {
  height: 200px;
}

.textContent :nth-child(1) {
  font-size: 2.125rem;
  color: #2c2e30;
  text-align: center;
}

.textContent :nth-child(2) {
  font-size: 1.125em;
  color: #7e8085;
  text-align: center;
  margin-bottom:1.5em
}

 .textSide a {
  font-size: 1.125em;
  color: #7e8085;
  text-decoration: none;
}

.textSide {
  max-width: 120px;
  text-align: center;
}

.recommend {
  visibility: visible !important;
}

.rcmnd {
  
  height: 17.4px;
  font-size: .569em;
  background-color: #ffb34b;
  visibility: hidden;
}

.cardStyle {
  min-height: 340.5px;
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.08);
  border: solid 1.5px #f9f9f9;
  background-color: #ffffff;
  overflow: hidden;
}

.cardTextStyle {
  font-size: .662em;
}

.headerFontSize{
  font-size: 0.9em;
}

.priceSize {
  font-size: 2.831em;
}

.btnColor1 {
  width: 129.2px;
  height: 36.3px;
  padding: 10px 20px;
  background-color: #3ccf8e;
  font-size: .662em;
}

.redBorder {
  width: 96px;
  height: 2px;
  border: solid 1px #f04b31;
}

.cardTextStyle p {
  margin: 0;
}

.marginContainer {
  margin-top: 70px;
  margin-bottom: 70px;
}

.bigHeader {
  max-width: 852px;
  
  font-size: 2.125em;
  text-align: center;
  color: #2c2e30;
}

.col-sm-6 {
  text-align: center;
}

.svgImage img {
  max-width: 64px;
  height: 64px;
}

.questionHeaderText {
  max-width: 206px;
  height: 64px;
  font-size: 1.4em;
}

.questionContentText {
  max-width: 332px;
  height: 149px;
  font-size: 1em;
  line-height: 1.75;
  color: #54565a;
}

.questionReadMore{
  max-width: 110px;
  height: 24px;
  font-family: Roboto;
  font-size: 1.125em;
  color: #2c2e30;
}

.redBaseLine{
    width: 142px;
    height: 1px;
    border: solid 2px #f04b31;
}

.bgcontent{
    max-width: 411px;
    height: 504px;
    border-radius: 5px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
}

.bgcontentImgBackground{
  width: 108px;
  height: 108px;
  background-color: #fff5f4;
  border-radius: 50%;
}

.bgcontentBigText{
    
    font-size: 1.5em;
    line-height: 1.42;
    text-align: center;
    color: #2c2e30;

}

.bgcontentText{
    
    font-size: 1em;
    line-height: 1.75;
    text-align: center;
    color: #54565a;

}

.questionReadMoreContainer{
  border-bottom: solid 3px #f04b31;
    padding-bottom: 1px;
}

.bgcontentRedLine{
    width: 142px;
    height: 1px;
    border: solid 2px #f04b31;
}

.commentContent{
    max-width: 355px;
    height: 263px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(44, 46, 48, 0.08);
    border: solid 1px #e7eaee;
    background-color: #ffffff;
}

.peopleComment img{
  border-radius:50%;
  max-width: 34px;
  height: 34px;
}

.cfluidBackground{

  background-color: #f6f8f9;


}

.compImgSize {
  max-width: 114px;
  height: 38px;
}

.needHelpBorder{
  max-width: 65px;
  height: 2px;
  border: solid 1px #c4cdd5;
}

.needHelpLogo{
  max-width: 42px;
  height: 42px;
  object-fit: contain;
  
}

.needHelpText{
  max-width: 123px;
  height: 32px;
  font-size: 1.5em;
  text-align: center;
  color: #454f5b;
}

.needHelpContent{
    max-width: 499px;
    height: 44px;
    font-size: 0.875em;
    line-height: 1.57;
    color: #454f5b;
    text-align: center;
}

.needHelpMail{
  max-width: 163px;
  height: 24px;
  font-size: 1.125em;
  text-align: center;
  color: #cf102b;
}

.cfluidBackground1{
  background-color: #181c25;
}

.footerHeader{
  font-size: 1.438em;
  font-weight: bold;
  color: #ffffff;
}



.socialmedia img{
  max-width: 44px;
  height: 45px;
  object-fit: contain;
}

.anchorStyle a{
  font-family: Roboto;
  font-size: 0.875em;
    line-height: 1.64;
    color: #ffffff;
}


.anchorStyle a:hover{
  text-decoration: none;
  color:#ebcece;
}

.footerRectangle{
  
  background-color: #1d222e;
}

.footerRectangleStyle a{
  font-size: 0.750em;
  color: #ffffff;
}

.footerRectangleStyle a:hover{
  text-decoration: none;
  color:#ebcece;
}




@media (max-width:768px){

  

  .mobileResponsiveNavbar{
    display:block;
  }



  .bigHeader{
    font-size:1.5em;
  }


  .firstText {
    font-size: 1.0em;
    
  }

  .secondText {
    font-size: 0.7em;
    padding:10px 0;
  }

  .navbarDisplay{
    flex-direction: column !important;
    width: 100%;
  }

  .searchDisplay{
    display:none;
  }

  .searchBorder{
    border:0 !important;
  }

  .inputSearchDisplay{
    display:flex;
  }

.headerMenu{
  justify-content: center !important;
}

  .containerSize{
    flex-direction: column;
  }

  .navbarColor{
    display:flex; 
    justify-content:center;
}

}
 












@media  (max-width: 992px) {
  
  .navbar-nav{
    flex-direction: row;

  }

  
}











@media (max-width: 577px) {
  .formSize{
    width:60%;
    height:45px;
  }

  .btnColor {
    
    height: 45px;
  }

  .context{
    padding-left:10px;
  }
}













@media (min-width:992px) {

  .aboutDisplayMobile{
    display:none;
  }

  

}


@media (max-width:992px) {

  .aboutDisplayPc{
    display:none;
  }
} 

