$icomoon-font-family: "amaxIcons" !default;
$icomoon-font-path: "fonts" !default;

$icon-tick: "\e916";
$icon-female: "\e913";
$icon-male: "\e914";
$icon-married: "\e915";
$icon-add: "\e911";
$icon-remove: "\e917";
$icon-edit: "\e912";
$icon-whell: "\e90c";
$icon-user: "\e90d";
$icon-policy: "\e90e";
$icon-quote: "\e90f";
$icon-life-ring: "\e90b";
$icon-map-marker: "\e908";
$icon-search: "\e909";
$icon-times: "\e906";
$icon-check: "\e90a";
$icon-arrow-right: "\e907";
$icon-arrow-left: "\e910";
$icon-single: "\e905";
$icon-over-25: "\e900";
$icon-over-5k: "\e901";
$icon-lease-car: "\e902";
$icon-kids-drive: "\e903";
$icon-home: "\e904";

